In [11]:
import pandas as pd
from IPython.display import display

In [4]:
s1 = pd.Series([4, -2, 5])
print(s1)

0    4
1   -2
2    5
dtype: int64

In [6]:
s1.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
list(s1.index)

[0, 1, 2]

In [10]:
display(s1.values)

array([ 4, -2,  5])

In [14]:
s2 = pd.Series([4, -2, 5], index=['a', 'b', 'c'])
display(s2)

a    4
b   -2
c    5
dtype: int64

In [15]:
s2.index

Index(['a', 'b', 'c'], dtype='object')

In [16]:
s2['a']

4

In [19]:
s2['c'] = 2
display(s2)

a    4
b   -2
c    2
dtype: int64

In [21]:
df = pd.DataFrame({'math': [78, 64, 52], 'english': [45, 87, 67]}, index=['001', '002', '003'],
                  columns=['math', 'english'])
df

     math  english
001    78       45
002    64       87
003    52       67

In [23]:
print(df['math'])

001    78
002    64
003    52
Name: math, dtype: int64

In [25]:
print(df.english)

001    45
002    87
003    67
Name: english, dtype: int64

In [27]:
print(df.loc['001'])

math       78
english    45
Name: 001, dtype: int64

In [28]:
print(df.iloc[0])

math       78
english    45
Name: 001, dtype: int64

In [29]:
df.english['001']

45

In [30]:
df.describe()

            math    english
count   3.000000   3.000000
mean   64.666667  66.333333
std    13.012814  21.007935
min    52.000000  45.000000
25%    58.000000  56.000000
50%    64.000000  67.000000
75%    71.000000  77.000000
max    78.000000  87.000000