In [1]:
import pandas as pd

In [2]:
pd.read_csv('exchange.csv', encoding='cp932')

      データコード               FM08'FXERM07 FM09'FX180110002
0       系列名称  東京市場　ドル・円　スポット　17時時点/月中平均      実質実効為替レート指数
1    1970/01                        NaN            58.31
2    1970/02                        NaN            57.98
3    1970/03                        NaN            58.19
4    1970/04                        NaN            58.25
..       ...                        ...              ...
620  2021/08                     109.82            71.08
621  2021/09                      110.2            70.86
622  2021/10                     113.09             68.6
623  2021/11                     114.03            67.79
624  2021/12                     113.88              NaN

[625 rows x 3 columns]

#### 上記、DataFrame の問題点
- CSV File では Header が２行あるが、２行目が Data として扱われている
- 列名が長い日本語で扱いづらい。
- 年月の列があるのに Index として連番が使われている

In [3]:
df_exchange = pd.read_csv('exchange.csv', encoding='cp932', header=1, names=['data', 'USD', 'rate'], index_col=0, parse_dates=True)
df_exchange

               USD   rate
data
1970-01-01     NaN  58.31
1970-02-01     NaN  57.98
1970-03-01     NaN  58.19
1970-04-01     NaN  58.25
1970-05-01     NaN  57.85
...            ...    ...
2021-08-01  109.82  71.08
2021-09-01  110.20  70.86
2021-10-01  113.09  68.60
2021-11-01  114.03  67.79
2021-12-01  113.88    NaN

[624 rows x 2 columns]

#### read_csv()関数の特筆点
型推論によって各列の型の推論と変換が自動的に行なわれる

In [4]:
df_exchange['rate'][0]

58.31

In [5]:
type(df_exchange['rate'][0])

numpy.float64