In [1]:
import pandas as pd

In [2]:
pd.read_csv('exchange.csv', encoding='cp932')

      データコード               FM08'FXERM07 FM09'FX180110002
0       系列名称  東京市場　ドル・円　スポット　17時時点/月中平均      実質実効為替レート指数
1    1970/01                        NaN            58.31
2    1970/02                        NaN            57.98
3    1970/03                        NaN            58.19
4    1970/04                        NaN            58.25
..       ...                        ...              ...
620  2021/08                     109.82            71.08
621  2021/09                      110.2            70.86
622  2021/10                     113.09             68.6
623  2021/11                     114.03            67.79
624  2021/12                     113.88              NaN

[625 rows x 3 columns]

#### 上記、DataFrame の問題点
- CSV File では Header が２行あるが、２行目が Data として扱われている
- 列名が長い日本語で扱いづらい。
- 年月の列があるのに Index として連番が使われている

In [3]:
df_exchange = pd.read_csv('exchange.csv', encoding='cp932', header=1, names=['data', 'USD', 'rate'], index_col=0, parse_dates=True)
df_exchange

               USD   rate
data
1970-01-01     NaN  58.31
1970-02-01     NaN  57.98
1970-03-01     NaN  58.19
1970-04-01     NaN  58.25
1970-05-01     NaN  57.85
...            ...    ...
2021-08-01  109.82  71.08
2021-09-01  110.20  70.86
2021-10-01  113.09  68.60
2021-11-01  114.03  67.79
2021-12-01  113.88    NaN

[624 rows x 2 columns]

#### read_csv()関数の特筆点
型推論によって各列の型の推論と変換が自動的に行なわれる

In [4]:
df_exchange['rate'][0]

58.31

In [5]:
type(df_exchange['rate'][0])

numpy.float64

## CSV File の読み込み（国債金利 Data）

In [6]:
from datetime import datetime

def parse_japanese_date(s):
    base_years = {'S': 1925, 'H': 1988, 'R': 2018} # 昭和以降の元号の０年に相当する年を定義しておく。
    era = s[0] # 元号を表す Alphabet １文字を取得。
    year, month, day = s[1:].split('.') # ２文字目以降を.（Period)で分割して年月日に分ける。
    year = base_years[era] + int(year) # 元号の０年に相当する年と数値に変換した年を足して西暦の年を得る。
    return datetime(year, int(month), int(day)) # datetime object を作成する。

In [7]:
parse_japanese_date('S49.9.24')

datetime.datetime(1974, 9, 24, 0, 0)

In [8]:
parse_japanese_date('H31.4.30')

datetime.datetime(2019, 4, 30, 0, 0)

In [9]:
parse_japanese_date('R1.5.1')

datetime.datetime(2019, 5, 1, 0, 0)

In [10]:
df_jgbcm = pd.read_csv('jgbcm_all.csv', encoding='cp932', header=1, index_col=0, parse_dates=True, date_parser=parse_japanese_date, na_values=['-'])

df_jgbcm

,1年,2年,3年,4年,5年,6年,7年,8年,9年,10年,15年,20年,25年,30年,40年
基準日,,,,,,,,,,,,,,,
1974-09-24,10.327,9.362,8.830,8.515,8.348,8.290,8.240,8.121,8.127,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-25,10.333,9.364,8.831,8.516,8.348,8.290,8.240,8.121,8.127,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-26,10.340,9.366,8.832,8.516,8.348,8.290,8.240,8.122,8.128,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-27,10.347,9.367,8.833,8.517,8.349,8.290,8.240,8.122,8.128,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-28,10.354,9.369,8.834,8.518,8.349,8.291,8.240,8.122,8.129,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-24,-0.098,-0.099,-0.097,-0.100,-0.088,-0.085,-0.074,-0.048,0.006,0.079,0.292,0.477,0.577,0.679,0.737
2021-12-27,-0.099,-0.095,-0.098,-0.093,-0.084,-0.085,-0.080,-0.054,0.002,0.078,0.287,0.472,0.573,0.675,0.740
2021-12-28,-0.099,-0.095,-0.098,-0.093,-0.084,-0.083,-0.079,-0.050,0.002,0.078,0.287,0.477,0.580,0.684,0.749
2021-12-29,-0.098,-0.100,-0.098,-0.093,-0.084,-0.085,-0.080,-0.049,0.003,0.073,0.288,0.472,0.578,0.684,0.750
2021-12-30,-0.089,-0.095,-0.095,-0.088,-0.075,-0.068,-0.055,-0.028,0.021,0.089,0.303,0.480,0.587,0.693,0.759

In [11]:
df_jobs = pd.read_excel('effective_job_ratio.xlsx', skiprows=3, skipfooter=3, usecols='A,U:AF', index_col=0)

In [23]:
df_jobs.columns = [c.split('.')[0] for c in df_jobs.columns]
df_jobs = df_jobs[1:]
df_jobs

         １月    ２月    ３月    ４月    ５月    ６月    ７月    ８月    ９月   10月   11月   12月
西暦
1964年  0.75  0.76  0.76  0.79  0.81  0.83  0.83  0.82  0.83  0.81  0.79  0.78
1965年  0.74  0.71  0.71   0.7  0.66  0.63   0.6  0.58  0.57  0.57  0.56  0.55
1966年  0.58  0.62  0.67   0.7  0.71  0.73  0.72  0.78  0.82  0.85  0.85  0.85
1967年  0.87   0.9  0.91  0.94  0.97     1  1.02  1.08  1.09  1.09  1.11   1.1
1968年  1.11  1.09  1.08  1.07  1.09   1.1  1.11  1.12  1.14  1.14  1.17  1.17
1969年  1.19   1.2  1.21  1.24  1.25  1.29   1.3  1.33  1.34  1.39  1.41  1.46
1970年  1.49  1.47  1.44  1.43  1.43  1.44  1.41  1.39  1.39  1.36  1.33  1.31
1971年  1.29  1.23  1.21  1.18  1.15   1.1  1.09  1.07  1.03  1.02     1  0.99
1972年  0.98  1.02  1.05  1.07  1.08  1.09  1.13  1.19  1.25  1.31  1.36  1.48
1973年   1.6  1.65  1.61  1.63  1.74  1.82  1.87  1.86  1.83  1.86  1.93  1.84
1974年  1.64  1.53  1.45  1.34  1.35  1.27  1.18  1.09  1.02  0.95  0.88  0.79
1975年  0.75  0.71  0.67  0.68  0.63  0.59  0.56  0.55  0.55  0.55  0.55  0.55
1976年  0.58  0.61  0.63  0.65  0.64  0.66  0.67  0.67  0.66  0.64  0.64  0.62
1977年  0.61   0.6   0.6  0.61  0.56  0.54  0.53  0.53  0.53  0.53  0.52  0.52
1978年  0.51  0.53  0.54  0.57  0.54  0.54  0.56  0.57  0.59  0.59   0.6   0.6
1979年  0.62  0.63  0.66   0.7  0.69  0.71  0.72  0.73  0.75  0.77  0.78  0.79
1980年  0.77  0.76  0.77  0.77  0.76  0.77  0.76  0.74  0.73  0.73  0.71   0.7
1981年  0.69  0.68  0.67  0.67  0.67  0.68   0.7  0.69  0.68  0.67  0.66  0.67
1982年  0.66  0.65  0.63  0.62   0.6   0.6   0.6   0.6   0.6   0.6  0.59  0.59
1983年  0.59  0.59  0.59  0.59  0.59  0.59  0.59   0.6  0.61  0.62  0.62  0.63
1984年  0.64  0.64  0.64  0.64  0.64  0.64  0.65  0.65  0.66  0.66  0.66  0.67
1985年  0.68  0.69  0.68  0.69  0.69  0.69  0.69  0.68  0.68  0.67  0.67  0.67
1986年  0.67  0.66  0.65  0.63  0.62   0.6   0.6  0.61  0.61  0.61  0.61  0.61
1987年  0.62  0.63  0.64  0.64  0.65  0.66  0.68  0.71  0.74  0.77  0.81  0.84
1988年  0.87   0.9  0.92  0.95  0.98  1.01  1.04  1.06  1.08   1.1  1.12  1.14
1989年  1.15  1.17  1.17  1.19  1.25  1.27   1.3  1.29   1.3  1.31  1.33  1.33
1990年  1.33  1.36  1.36  1.35  1.39  1.42  1.46  1.44  1.44  1.44  1.45  1.44
1991年  1.43  1.44  1.44  1.41  1.44  1.44  1.44   1.4  1.36  1.36  1.34  1.31
1992年  1.25  1.22  1.19  1.14  1.13   1.1  1.08  1.05  1.02  0.99  0.96  0.93
1993年  0.91  0.88  0.85  0.82   0.8  0.76  0.74  0.72   0.7  0.68  0.67  0.66
1994年  0.65  0.64  0.65  0.65  0.63  0.63  0.63  0.64  0.65  0.65  0.64  0.63
1995年  0.64  0.65  0.66  0.65  0.63  0.62  0.61  0.62  0.62  0.62  0.62  0.63
1996年  0.65  0.66  0.68  0.69  0.69   0.7  0.72  0.72  0.72  0.73  0.74  0.74
1997年  0.74  0.74  0.74  0.74  0.74  0.74  0.74  0.73  0.71   0.7  0.68  0.67
1998年  0.63  0.61  0.57  0.56  0.54  0.52  0.51   0.5  0.49  0.48  0.47  0.47
1999年  0.48  0.48  0.48  0.47  0.46  0.46  0.47  0.47  0.48  0.49  0.49   0.5
2000年  0.51  0.52  0.54  0.56  0.56  0.58   0.6  0.61  0.62  0.64  0.65  0.65
2001年  0.65  0.64  0.63  0.62  0.61  0.61   0.6  0.58  0.57  0.54  0.52  0.51
2002年   0.5  0.51  0.52  0.52  0.53  0.53  0.54  0.55  0.55  0.56  0.56  0.57
2003年  0.58  0.59   0.6  0.61  0.61  0.62  0.63  0.65  0.67   0.7  0.72  0.75
2004年  0.76  0.76  0.77  0.78   0.8  0.82  0.83  0.84  0.86  0.88  0.91  0.92
2005年  0.91  0.91  0.93  0.94  0.94  0.95  0.96  0.96  0.96  0.98  0.99  1.01
2006年  1.03  1.04  1.05  1.05  1.07  1.07  1.08  1.07  1.07  1.06  1.06  1.06
2007年  1.06  1.05  1.05  1.07  1.07  1.07  1.06  1.05  1.03  1.01  0.98  0.98
2008年  0.97  0.96  0.96  0.96  0.95  0.92  0.89  0.86  0.83  0.79  0.75  0.71
2009年  0.64  0.57  0.52  0.49  0.46  0.44  0.43  0.42  0.43  0.44  0.44  0.44
2010年  0.45  0.46  0.48  0.49   0.5  0.51  0.53  0.54  0.55  0.56  0.58  0.59
2011年   0.6  0.62  0.62  0.62  0.61  0.62  0.64  0.65  0.67  0.69  0.71  0.72
2012年  0.74  0.75  0.77  0.78  0.79   0.8  0.81  0.82  0.81  0.82  0.82  0.83
2013年  0.84  0.85  0.87  0.88   0.9  0.92  0.93  0.95  0.96  0.99  1.01  1.03
2014年  1.04  1.06  1.07  1.08  1.09  1.09   1.1   1.1   1.1  1.11  1.12  1.14
2015年  1.15  1.16  1.16  1.16  1.18  1.19   1.2  1.22  1.23  1.24  1.26  1.27
2016年  1.29   1.3  1.31  1.33  1.35  1.36  1.36  1.38  1.38   1.4  1.41  1.42
2017年  1.43  1.45  1.46  1.48  1.48   1.5  1.51  1.52  1.53  1.55  1.56  1.58
2018年   1.6  1.59  1.59  1.59  1.59  1.62  1.63  1.64  1.64  1.63  1.63  1.62
2019年  1.64  1.62  1.63  1.62  1.61  1.61   1.6   1.6  1.59  1.58  1.57  1.55
2020年  1.51  1.45   1.4   1.3  1.18  1.12  1.09  1.05  1.04  1.04  1.05  1.05
2021年   1.1  1.09   1.1  1.09  1.09  1.13  1.15  1.14  1.16  1.15  1.15   NaN

In [24]:
s_jobs = df_jobs.stack()
print(s_jobs)

西暦
1964年  １月     0.75
       ２月     0.76
       ３月     0.76
       ４月     0.79
       ５月     0.81
              ...
2021年  ７月     1.15
       ８月     1.14
       ９月     1.16
       10月    1.15
       11月    1.15
Length: 695, dtype: object

In [25]:
list(s_jobs.index)

[('1964年', '１月'),
 ('1964年', '２月'),
 ('1964年', '３月'),
 ('1964年', '４月'),
 ('1964年', '５月'),
 ('1964年', '６月'),
 ('1964年', '７月'),
 ('1964年', '８月'),
 ('1964年', '９月'),
 ('1964年', '10月'),
 ('1964年', '11月'),
 ('1964年', '12月'),
 ('1965年', '１月'),
 ('1965年', '２月'),
 ('1965年', '３月'),
 ('1965年', '４月'),
 ('1965年', '５月'),
 ('1965年', '６月'),
 ('1965年', '７月'),
 ('1965年', '８月'),
 ('1965年', '９月'),
 ('1965年', '10月'),
 ('1965年', '11月'),
 ('1965年', '12月'),
 ('1966年', '１月'),
 ('1966年', '２月'),
 ('1966年', '３月'),
 ('1966年', '４月'),
 ('1966年', '５月'),
 ('1966年', '６月'),
 ('1966年', '７月'),
 ('1966年', '８月'),
 ('1966年', '９月'),
 ('1966年', '10月'),
 ('1966年', '11月'),
 ('1966年', '12月'),
 ('1967年', '１月'),
 ('1967年', '２月'),
 ('1967年', '３月'),
 ('1967年', '４月'),
 ('1967年', '５月'),
 ('1967年', '６月'),
 ('1967年', '７月'),
 ('1967年', '８月'),
 ('1967年', '９月'),
 ('1967年', '10月'),
 ('1967年', '11月'),
 ('1967年', '12月'),
 ('1968年', '１月'),
 ('1968年', '２月'),
 ('1968年', '３月'),
 ('1968年', '４月'),
 ('1968年', '５月'),
 ('1968年', '６月'),
 ('1968年', '７月'),
 ('1968年', '８月'),
 ('1968年', '９月'),
 ('1968年', '10月'),
 ('1968年', '11月'),
 ('1968年', '12月'),
 ('1969年', '１月'),
 ('1969年', '２月'),
 ('1969年', '３月'),
 ('1969年', '４月'),
 ('1969年', '５月'),
 ('1969年', '６月'),
 ('1969年', '７月'),
 ('1969年', '８月'),
 ('1969年', '９月'),
 ('1969年', '10月'),
 ('1969年', '11月'),
 ('1969年', '12月'),
 ('1970年', '１月'),
 ('1970年', '２月'),
 ('1970年', '３月'),
 ('1970年', '４月'),
 ('1970年', '５月'),
 ('1970年', '６月'),
 ('1970年', '７月'),
 ('1970年', '８月'),
 ('1970年', '９月'),
 ('1970年', '10月'),
 ('1970年', '11月'),
 ('1970年', '12月'),
 ('1971年', '１月'),
 ('1971年', '２月'),
 ('1971年', '３月'),
 ('1971年', '４月'),
 ('1971年', '５月'),
 ('1971年', '６月'),
 ('1971年', '７月'),
 ('1971年', '８月'),
 ('1971年', '９月'),
 ('1971年', '10月'),
 ('1971年', '11月'),
 ('1971年', '12月'),
 ('1972年', '１月'),
 ('1972年', '２月'),
 ('1972年', '３月'),
 ('1972年', '４月'),
 ('1972年', '５月'),
 ('1972年', '６月'),
 ('1972年', '７月'),
 ('1972年', '８月'),
 ('1972年', '９月'),
 ('1972年', '10月'),
 ('1972年', '11月'),
 ('1972年', '12月'),
 ('1973年', '１月'),
 ('1973年', '２月'),
 ('1973年', '３月'),
 ('1973年', '４月'),
 ('1973年', '５月'),
 ('1973年', '６月'),
 ('1973年', '７月'),
 ('1973年', '８月'),
 ('1973年', '９月'),
 ('1973年', '10月'),
 ('1973年', '11月'),
 ('1973年', '12月'),
 ('1974年', '１月'),
 ('1974年', '２月'),
 ('1974年', '３月'),
 ('1974年', '４月'),
 ('1974年', '５月'),
 ('1974年', '６月'),
 ('1974年', '７月'),
 ('1974年', '８月'),
 ('1974年', '９月'),
 ('1974年', '10月'),
 ('1974年', '11月'),
 ('1974年', '12月'),
 ('1975年', '１月'),
 ('1975年', '２月'),
 ('1975年', '３月'),
 ('1975年', '４月'),
 ('1975年', '５月'),
 ('1975年', '６月'),
 ('1975年', '７月'),
 ('1975年', '８月'),
 ('1975年', '９月'),
 ('1975年', '10月'),
 ('1975年', '11月'),
 ('1975年', '12月'),
 ('1976年', '１月'),
 ('1976年', '２月'),
 ('1976年', '３月'),
 ('1976年', '４月'),
 ('1976年', '５月'),
 ('1976年', '６月'),
 ('1976年', '７月'),
 ('1976年', '８月'),
 ('1976年', '９月'),
 ('1976年', '10月'),
 ('1976年', '11月'),
 ('1976年', '12月'),
 ('1977年', '１月'),
 ('1977年', '２月'),
 ('1977年', '３月'),
 ('1977年', '４月'),
 ('1977年', '５月'),
 ('1977年', '６月'),
 ('1977年', '７月'),
 ('1977年', '８月'),
 ('1977年', '９月'),
 ('1977年', '10月'),
 ('1977年', '11月'),
 ('1977年', '12月'),
 ('1978年', '１月'),
 ('1978年', '２月'),
 ('1978年', '３月'),
 ('1978年', '４月'),
 ('1978年', '５月'),
 ('1978年', '６月'),
 ('1978年', '７月'),
 ('1978年', '８月'),
 ('1978年', '９月'),
 ('1978年', '10月'),
 ('1978年', '11月'),
 ('1978年', '12月'),
 ('1979年', '１月'),
 ('1979年', '２月'),
 ('1979年', '３月'),
 ('1979年', '４月'),
 ('1979年', '５月'),
 ('1979年', '６月'),
 ('1979年', '７月'),
 ('1979年', '８月'),
 ('1979年', '９月'),
 ('1979年', '10月'),
 ('1979年', '11月'),
 ('1979年', '12月'),
 ('1980年', '１月'),
 ('1980年', '２月'),
 ('1980年', '３月'),
 ('1980年', '４月'),
 ('1980年', '５月'),
 ('1980年', '６月'),
 ('1980年', '７月'),
 ('1980年', '８月'),
 ('1980年', '９月'),
 ('1980年', '10月'),
 ('1980年', '11月'),
 ('1980年', '12月'),
 ('1981年', '１月'),
 ('1981年', '２月'),
 ('1981年', '３月'),
 ('1981年', '４月'),
 ('1981年', '５月'),
 ('1981年', '６月'),
 ('1981年', '７月'),
 ('1981年', '８月'),
 ('1981年', '９月'),
 ('1981年', '10月'),
 ('1981年', '11月'),
 ('1981年', '12月'),
 ('1982年', '１月'),
 ('1982年', '２月'),
 ('1982年', '３月'),
 ('1982年', '４月'),
 ('1982年', '５月'),
 ('1982年', '６月'),
 ('1982年', '７月'),
 ('1982年', '８月'),
 ('1982年', '９月'),
 ('1982年', '10月'),
 ('1982年', '11月'),
 ('1982年', '12月'),
 ('1983年', '１月'),
 ('1983年', '２月'),
 ('1983年', '３月'),
 ('1983年', '４月'),
 ('1983年', '５月'),
 ('1983年', '６月'),
 ('1983年', '７月'),
 ('1983年', '８月'),
 ('1983年', '９月'),
 ('1983年', '10月'),
 ('1983年', '11月'),
 ('1983年', '12月'),
 ('1984年', '１月'),
 ('1984年', '２月'),
 ('1984年', '３月'),
 ('1984年', '４月'),
 ('1984年', '５月'),
 ('1984年', '６月'),
 ('1984年', '７月'),
 ('1984年', '８月'),
 ('1984年', '９月'),
 ('1984年', '10月'),
 ('1984年', '11月'),
 ('1984年', '12月'),
 ('1985年', '１月'),
 ('1985年', '２月'),
 ('1985年', '３月'),
 ('1985年', '４月'),
 ('1985年', '５月'),
 ('1985年', '６月'),
 ('1985年', '７月'),
 ('1985年', '８月'),
 ('1985年', '９月'),
 ('1985年', '10月'),
 ('1985年', '11月'),
 ('1985年', '12月'),
 ('1986年', '１月'),
 ('1986年', '２月'),
 ('1986年', '３月'),
 ('1986年', '４月'),
 ('1986年', '５月'),
 ('1986年', '６月'),
 ('1986年', '７月'),
 ('1986年', '８月'),
 ('1986年', '９月'),
 ('1986年', '10月'),
 ('1986年', '11月'),
 ('1986年', '12月'),
 ('1987年', '１月'),
 ('1987年', '２月'),
 ('1987年', '３月'),
 ('1987年', '４月'),
 ('1987年', '５月'),
 ('1987年', '６月'),
 ('1987年', '７月'),
 ('1987年', '８月'),
 ('1987年', '９月'),
 ('1987年', '10月'),
 ('1987年', '11月'),
 ('1987年', '12月'),
 ('1988年', '１月'),
 ('1988年', '２月'),
 ('1988年', '３月'),
 ('1988年', '４月'),
 ('1988年', '５月'),
 ('1988年', '６月'),
 ('1988年', '７月'),
 ('1988年', '８月'),
 ('1988年', '９月'),
 ('1988年', '10月'),
 ('1988年', '11月'),
 ('1988年', '12月'),
 ('1989年', '１月'),
 ('1989年', '２月'),
 ('1989年', '３月'),
 ('1989年', '４月'),
 ('1989年', '５月'),
 ('1989年', '６月'),
 ('1989年', '７月'),
 ('1989年', '８月'),
 ('1989年', '９月'),
 ('1989年', '10月'),
 ('1989年', '11月'),
 ('1989年', '12月'),
 ('1990年', '１月'),
 ('1990年', '２月'),
 ('1990年', '３月'),
 ('1990年', '４月'),
 ('1990年', '５月'),
 ('1990年', '６月'),
 ('1990年', '７月'),
 ('1990年', '８月'),
 ('1990年', '９月'),
 ('1990年', '10月'),
 ('1990年', '11月'),
 ('1990年', '12月'),
 ('1991年', '１月'),
 ('1991年', '２月'),
 ('1991年', '３月'),
 ('1991年', '４月'),
 ('1991年', '５月'),
 ('1991年', '６月'),
 ('1991年', '７月'),
 ('1991年', '８月'),
 ('1991年', '９月'),
 ('1991年', '10月'),
 ('1991年', '11月'),
 ('1991年', '12月'),
 ('1992年', '１月'),
 ('1992年', '２月'),
 ('1992年', '３月'),
 ('1992年', '４月'),
 ('1992年', '５月'),
 ('1992年', '６月'),
 ('1992年', '７月'),
 ('1992年', '８月'),
 ('1992年', '９月'),
 ('1992年', '10月'),
 ('1992年', '11月'),
 ('1992年', '12月'),
 ('1993年', '１月'),
 ('1993年', '２月'),
 ('1993年', '３月'),
 ('1993年', '４月'),
 ('1993年', '５月'),
 ('1993年', '６月'),
 ('1993年', '７月'),
 ('1993年', '８月'),
 ('1993年', '９月'),
 ('1993年', '10月'),
 ('1993年', '11月'),
 ('1993年', '12月'),
 ('1994年', '１月'),
 ('1994年', '２月'),
 ('1994年', '３月'),
 ('1994年', '４月'),
 ('1994年', '５月'),
 ('1994年', '６月'),
 ('1994年', '７月'),
 ('1994年', '８月'),
 ('1994年', '９月'),
 ('1994年', '10月'),
 ('1994年', '11月'),
 ('1994年', '12月'),
 ('1995年', '１月'),
 ('1995年', '２月'),
 ('1995年', '３月'),
 ('1995年', '４月'),
 ('1995年', '５月'),
 ('1995年', '６月'),
 ('1995年', '７月'),
 ('1995年', '８月'),
 ('1995年', '９月'),
 ('1995年', '10月'),
 ('1995年', '11月'),
 ('1995年', '12月'),
 ('1996年', '１月'),
 ('1996年', '２月'),
 ('1996年', '３月'),
 ('1996年', '４月'),
 ('1996年', '５月'),
 ('1996年', '６月'),
 ('1996年', '７月'),
 ('1996年', '８月'),
 ('1996年', '９月'),
 ('1996年', '10月'),
 ('1996年', '11月'),
 ('1996年', '12月'),
 ('1997年', '１月'),
 ('1997年', '２月'),
 ('1997年', '３月'),
 ('1997年', '４月'),
 ('1997年', '５月'),
 ('1997年', '６月'),
 ('1997年', '７月'),
 ('1997年', '８月'),
 ('1997年', '９月'),
 ('1997年', '10月'),
 ('1997年', '11月'),
 ('1997年', '12月'),
 ('1998年', '１月'),
 ('1998年', '２月'),
 ('1998年', '３月'),
 ('1998年', '４月'),
 ('1998年', '５月'),
 ('1998年', '６月'),
 ('1998年', '７月'),
 ('1998年', '８月'),
 ('1998年', '９月'),
 ('1998年', '10月'),
 ('1998年', '11月'),
 ('1998年', '12月'),
 ('1999年', '１月'),
 ('1999年', '２月'),
 ('1999年', '３月'),
 ('1999年', '４月'),
 ('1999年', '５月'),
 ('1999年', '６月'),
 ('1999年', '７月'),
 ('1999年', '８月'),
 ('1999年', '９月'),
 ('1999年', '10月'),
 ('1999年', '11月'),
 ('1999年', '12月'),
 ('2000年', '１月'),
 ('2000年', '２月'),
 ('2000年', '３月'),
 ('2000年', '４月'),
 ('2000年', '５月'),
 ('2000年', '６月'),
 ('2000年', '７月'),
 ('2000年', '８月'),
 ('2000年', '９月'),
 ('2000年', '10月'),
 ('2000年', '11月'),
 ('2000年', '12月'),
 ('2001年', '１月'),
 ('2001年', '２月'),
 ('2001年', '３月'),
 ('2001年', '４月'),
 ('2001年', '５月'),
 ('2001年', '６月'),
 ('2001年', '７月'),
 ('2001年', '８月'),
 ('2001年', '９月'),
 ('2001年', '10月'),
 ('2001年', '11月'),
 ('2001年', '12月'),
 ('2002年', '１月'),
 ('2002年', '２月'),
 ('2002年', '３月'),
 ('2002年', '４月'),
 ('2002年', '５月'),
 ('2002年', '６月'),
 ('2002年', '７月'),
 ('2002年', '８月'),
 ('2002年', '９月'),
 ('2002年', '10月'),
 ('2002年', '11月'),
 ('2002年', '12月'),
 ('2003年', '１月'),
 ('2003年', '２月'),
 ('2003年', '３月'),
 ('2003年', '４月'),
 ('2003年', '５月'),
 ('2003年', '６月'),
 ('2003年', '７月'),
 ('2003年', '８月'),
 ('2003年', '９月'),
 ('2003年', '10月'),
 ('2003年', '11月'),
 ('2003年', '12月'),
 ('2004年', '１月'),
 ('2004年', '２月'),
 ('2004年', '３月'),
 ('2004年', '４月'),
 ('2004年', '５月'),
 ('2004年', '６月'),
 ('2004年', '７月'),
 ('2004年', '８月'),
 ('2004年', '９月'),
 ('2004年', '10月'),
 ('2004年', '11月'),
 ('2004年', '12月'),
 ('2005年', '１月'),
 ('2005年', '２月'),
 ('2005年', '３月'),
 ('2005年', '４月'),
 ('2005年', '５月'),
 ('2005年', '６月'),
 ('2005年', '７月'),
 ('2005年', '８月'),
 ('2005年', '９月'),
 ('2005年', '10月'),
 ('2005年', '11月'),
 ('2005年', '12月'),
 ('2006年', '１月'),
 ('2006年', '２月'),
 ('2006年', '３月'),
 ('2006年', '４月'),
 ('2006年', '５月'),
 ('2006年', '６月'),
 ('2006年', '７月'),
 ('2006年', '８月'),
 ('2006年', '９月'),
 ('2006年', '10月'),
 ('2006年', '11月'),
 ('2006年', '12月'),
 ('2007年', '１月'),
 ('2007年', '２月'),
 ('2007年', '３月'),
 ('2007年', '４月'),
 ('2007年', '５月'),
 ('2007年', '６月'),
 ('2007年', '７月'),
 ('2007年', '８月'),
 ('2007年', '９月'),
 ('2007年', '10月'),
 ('2007年', '11月'),
 ('2007年', '12月'),
 ('2008年', '１月'),
 ('2008年', '２月'),
 ('2008年', '３月'),
 ('2008年', '４月'),
 ('2008年', '５月'),
 ('2008年', '６月'),
 ('2008年', '７月'),
 ('2008年', '８月'),
 ('2008年', '９月'),
 ('2008年', '10月'),
 ('2008年', '11月'),
 ('2008年', '12月'),
 ('2009年', '１月'),
 ('2009年', '２月'),
 ('2009年', '３月'),
 ('2009年', '４月'),
 ('2009年', '５月'),
 ('2009年', '６月'),
 ('2009年', '７月'),
 ('2009年', '８月'),
 ('2009年', '９月'),
 ('2009年', '10月'),
 ('2009年', '11月'),
 ('2009年', '12月'),
 ('2010年', '１月'),
 ('2010年', '２月'),
 ('2010年', '３月'),
 ('2010年', '４月'),
 ('2010年', '５月'),
 ('2010年', '６月'),
 ('2010年', '７月'),
 ('2010年', '８月'),
 ('2010年', '９月'),
 ('2010年', '10月'),
 ('2010年', '11月'),
 ('2010年', '12月'),
 ('2011年', '１月'),
 ('2011年', '２月'),
 ('2011年', '３月'),
 ('2011年', '４月'),
 ('2011年', '５月'),
 ('2011年', '６月'),
 ('2011年', '７月'),
 ('2011年', '８月'),
 ('2011年', '９月'),
 ('2011年', '10月'),
 ('2011年', '11月'),
 ('2011年', '12月'),
 ('2012年', '１月'),
 ('2012年', '２月'),
 ('2012年', '３月'),
 ('2012年', '４月'),
 ('2012年', '５月'),
 ('2012年', '６月'),
 ('2012年', '７月'),
 ('2012年', '８月'),
 ('2012年', '９月'),
 ('2012年', '10月'),
 ('2012年', '11月'),
 ('2012年', '12月'),
 ('2013年', '１月'),
 ('2013年', '２月'),
 ('2013年', '３月'),
 ('2013年', '４月'),
 ('2013年', '５月'),
 ('2013年', '６月'),
 ('2013年', '７月'),
 ('2013年', '８月'),
 ('2013年', '９月'),
 ('2013年', '10月'),
 ('2013年', '11月'),
 ('2013年', '12月'),
 ('2014年', '１月'),
 ('2014年', '２月'),
 ('2014年', '３月'),
 ('2014年', '４月'),
 ('2014年', '５月'),
 ('2014年', '６月'),
 ('2014年', '７月'),
 ('2014年', '８月'),
 ('2014年', '９月'),
 ('2014年', '10月'),
 ('2014年', '11月'),
 ('2014年', '12月'),
 ('2015年', '１月'),
 ('2015年', '２月'),
 ('2015年', '３月'),
 ('2015年', '４月'),
 ('2015年', '５月'),
 ('2015年', '６月'),
 ('2015年', '７月'),
 ('2015年', '８月'),
 ('2015年', '９月'),
 ('2015年', '10月'),
 ('2015年', '11月'),
 ('2015年', '12月'),
 ('2016年', '１月'),
 ('2016年', '２月'),
 ('2016年', '３月'),
 ('2016年', '４月'),
 ('2016年', '５月'),
 ('2016年', '６月'),
 ('2016年', '７月'),
 ('2016年', '８月'),
 ('2016年', '９月'),
 ('2016年', '10月'),
 ('2016年', '11月'),
 ('2016年', '12月'),
 ('2017年', '１月'),
 ('2017年', '２月'),
 ('2017年', '３月'),
 ('2017年', '４月'),
 ('2017年', '５月'),
 ('2017年', '６月'),
 ('2017年', '７月'),
 ('2017年', '８月'),
 ('2017年', '９月'),
 ('2017年', '10月'),
 ('2017年', '11月'),
 ('2017年', '12月'),
 ('2018年', '１月'),
 ('2018年', '２月'),
 ('2018年', '３月'),
 ('2018年', '４月'),
 ('2018年', '５月'),
 ('2018年', '６月'),
 ('2018年', '７月'),
 ('2018年', '８月'),
 ('2018年', '９月'),
 ('2018年', '10月'),
 ('2018年', '11月'),
 ('2018年', '12月'),
 ('2019年', '１月'),
 ('2019年', '２月'),
 ('2019年', '３月'),
 ('2019年', '４月'),
 ('2019年', '５月'),
 ('2019年', '６月'),
 ('2019年', '７月'),
 ('2019年', '８月'),
 ('2019年', '９月'),
 ('2019年', '10月'),
 ('2019年', '11月'),
 ('2019年', '12月'),
 ('2020年', '１月'),
 ('2020年', '２月'),
 ('2020年', '３月'),
 ('2020年', '４月'),
 ('2020年', '５月'),
 ('2020年', '６月'),
 ('2020年', '７月'),
 ('2020年', '８月'),
 ('2020年', '９月'),
 ('2020年', '10月'),
 ('2020年', '11月'),
 ('2020年', '12月'),
 ('2021年', '１月'),
 ('2021年', '２月'),
 ('2021年', '３月'),
 ('2021年', '４月'),
 ('2021年', '５月'),
 ('2021年', '６月'),
 ('2021年', '７月'),
 ('2021年', '８月'),
 ('2021年', '９月'),
 ('2021年', '10月'),
 ('2021年', '11月')]

In [30]:
from datetime import datetime
def parse_year_and_month(year, month):
    year = int(year[:-1]) # "年"を除去して数値に変換
    month = int(month[:-1]) # "月"を除去して数値に変換
    return datetime(year, month, 1) # datetime object を作成する。

In [31]:
parse_year_and_month('1963年', '１月')

datetime.datetime(1963, 1, 1, 0, 0)

In [33]:
parse_year_and_month('2018年', '12月')

datetime.datetime(2018, 12, 1, 0, 0)

In [34]:
s_jobs.index = [parse_year_and_month(y, m) for y, m in s_jobs.index]

In [35]:
s_jobs

1964-01-01    0.75
1964-02-01    0.76
1964-03-01    0.76
1964-04-01    0.79
1964-05-01    0.81
              ...
2021-07-01    1.15
2021-08-01    1.14
2021-09-01    1.16
2021-10-01    1.15
2021-11-01    1.15
Length: 695, dtype: object