In [1]:
import pandas as pd

In [2]:
pd.read_csv('exchange.csv', encoding='cp932')

      データコード               FM08'FXERM07 FM09'FX180110002
0       系列名称  東京市場　ドル・円　スポット　17時時点/月中平均      実質実効為替レート指数
1    1970/01                        NaN            58.31
2    1970/02                        NaN            57.98
3    1970/03                        NaN            58.19
4    1970/04                        NaN            58.25
..       ...                        ...              ...
620  2021/08                     109.82            71.08
621  2021/09                      110.2            70.86
622  2021/10                     113.09             68.6
623  2021/11                     114.03            67.79
624  2021/12                     113.88              NaN

[625 rows x 3 columns]

#### 上記、DataFrame の問題点
- CSV File では Header が２行あるが、２行目が Data として扱われている
- 列名が長い日本語で扱いづらい。
- 年月の列があるのに Index として連番が使われている

In [3]:
df_exchange = pd.read_csv('exchange.csv', encoding='cp932', header=1, names=['data', 'USD', 'rate'], index_col=0, parse_dates=True)
df_exchange

               USD   rate
data
1970-01-01     NaN  58.31
1970-02-01     NaN  57.98
1970-03-01     NaN  58.19
1970-04-01     NaN  58.25
1970-05-01     NaN  57.85
...            ...    ...
2021-08-01  109.82  71.08
2021-09-01  110.20  70.86
2021-10-01  113.09  68.60
2021-11-01  114.03  67.79
2021-12-01  113.88    NaN

[624 rows x 2 columns]

#### read_csv()関数の特筆点
型推論によって各列の型の推論と変換が自動的に行なわれる

In [4]:
df_exchange['rate'][0]

58.31

In [6]:
type(df_exchange['rate'][0])

numpy.float64

## CSV File の読み込み（国債金利 Data）

In [10]:
from datetime import datetime

def parse_japanese_date(s):
    base_years = {'S': 1925, 'H': 1988, 'R': 2018} # 昭和以降の元号の０年に相当する年を定義しておく。
    era = s[0] # 元号を表す Alphabet １文字を取得。
    year, month, day = s[1:].split('.') # ２文字目以降を.（Period)で分割して年月日に分ける。
    year = base_years[era] + int(year) # 元号の０年に相当する年と数値に変換した年を足して西暦の年を得る。
    return datetime(year, int(month), int(day)) # datetime object を作成する。

In [11]:
parse_japanese_date('S49.9.24')

datetime.datetime(1974, 9, 24, 0, 0)

In [12]:
parse_japanese_date('H31.4.30')

datetime.datetime(2019, 4, 30, 0, 0)

In [13]:
parse_japanese_date('R1.5.1')

datetime.datetime(2019, 5, 1, 0, 0)

In [14]:
df_jgbcm = pd.read_csv('jgbcm_all.csv', encoding='cp932', header=1, index_col=0, parse_dates=True, date_parser=parse_japanese_date, na_values=['-'])

df_jgbcm

,1年,2年,3年,4年,5年,6年,7年,8年,9年,10年,15年,20年,25年,30年,40年
基準日,,,,,,,,,,,,,,,
1974-09-24,10.327,9.362,8.830,8.515,8.348,8.290,8.240,8.121,8.127,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-25,10.333,9.364,8.831,8.516,8.348,8.290,8.240,8.121,8.127,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-26,10.340,9.366,8.832,8.516,8.348,8.290,8.240,8.122,8.128,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-27,10.347,9.367,8.833,8.517,8.349,8.290,8.240,8.122,8.128,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-28,10.354,9.369,8.834,8.518,8.349,8.291,8.240,8.122,8.129,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-24,-0.098,-0.099,-0.097,-0.100,-0.088,-0.085,-0.074,-0.048,0.006,0.079,0.292,0.477,0.577,0.679,0.737
2021-12-27,-0.099,-0.095,-0.098,-0.093,-0.084,-0.085,-0.080,-0.054,0.002,0.078,0.287,0.472,0.573,0.675,0.740
2021-12-28,-0.099,-0.095,-0.098,-0.093,-0.084,-0.083,-0.079,-0.050,0.002,0.078,0.287,0.477,0.580,0.684,0.749
2021-12-29,-0.098,-0.100,-0.098,-0.093,-0.084,-0.085,-0.080,-0.049,0.003,0.073,0.288,0.472,0.578,0.684,0.750
2021-12-30,-0.089,-0.095,-0.095,-0.088,-0.075,-0.068,-0.055,-0.028,0.021,0.089,0.303,0.480,0.587,0.693,0.759